:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-background-color: #2f303a;
  --special-background-color: #f5f4fa;
}





body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* ============== COMPONENTS ============== */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;

  
}
.container-footer{
  display: flex;

}
.container-footer2{
  margin-left: 70px;
}

.list {
  list-style: none;
  padding: 0;
}
.unvisible {
  color: var(--primary-white-color);
}
.flex {
  display: flex;
  flex-direction: row;
}

.no-margin.list {
  margin: 0;
}

.no-margin {
  margin: 0;
}
/* ============== END COMPONENTS ============== */

/* ============== BUTTONS ============== */
.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);

  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
/* ============== END BUTTONS ============== */

/* ============== HEADER ============== */
.page-header {
  border-bottom: 1px solid #ececec;
}
/*
.page-header li {
  padding: 32px 0;
}*/

.top-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin: 0 95px 0 0;
  padding: 25px 0 25px 0;
  /* outline: 2px solid red; */
}

.logo .accent {
  color: var(--accent-color);
}
/* ============== NAVIGATION ============== */

.site-nav {
  display: flex;

  margin: auto 0;
}
.site-nav{ display:flex;}
.site-nav :not(:last-child){margin-right: 50px;}

.nav-menu{ display:flex;}
.nav-menu :not(:last-child){margin-right: 50px;}

.site-nav  {
  color: var(--accent-color);
}



.link{font-weight: 500;
  padding-top: 24px;
padding-bottom: 25px;
font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.link2{font-weight: 500;
  padding-top: 24px;
padding-bottom: 25px;
font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
 
}

 .link:hover,
 .link:focus {
  color: var(--accent-color);
}


 .link.current {
  color: var(--accent-color);
}




/*!!!!!!!!!!!!!!!!!!!!!!!!*/
.telephone-maill-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
 /* flex-direction: row;*/
  align-items: center;
  margin: left;
  /*margin-left: auto;*/
}

.telephone-maill-header .button {
  color: var(--secondary-text-color);
  text-decoration: none;
  
}
.telephone-maill-header{
}

.telephone-maill-header :not(:last-child){margin-right: 50px;}


.telephone-maill-header .button:hover,
.telephone-maill-header .button:focus {
  color: var(--accent-color);

}

.button2{
    text-decoration: none; 
  
}
.button2:hover, .button2:focus {
  color: var(--accent-color);

}
.button2:hover  .link-icon2 {
 fill: #2196F3;
 
}
.button2:focus  .link-icon2 {
 fill: #2196F3;
 
}



.button2{
font-weight: 500;
padding-top: 24px;
padding-bottom: 25px;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.button3{
/*font-weight: 500;*/
padding-top: 24px;
padding-bottom: 25px;}

.container-flex{
 display: block;
 display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* ============== END NAVIGATION ============== */

/* ============== END HEADER ============== */

/* ============== HERO ============== */

.hero {
  background-color: var(--secondary-background-color);

 
  padding-bottom: 200px;
  padding-top: 200px;
  
  display: flex;
   align-items: center;
   text-align: center;
  justify-content: space-between;
justify-content: center;

  background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/1.png);
  
;
   max-width: 1600px;
  height: auto;
  

  margin: 0 auto;
  box-sizing: border-box;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin: 0 auto; */
  margin-bottom: 30px;
}
.hero-content {
  margin: 0 auto;
  /*max-width: 700px;*/
  
}
/* ============== END HERO ============== */

/* ============== SECTION ============== */


.section {
  padding: 94px 0;
}
.section .title,
.section-special-first .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.title{
  padding-top: 30px;
}

.section-main-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}


.section-special-first {
  padding: 94px 0 47px 0;
}

.section-special-second {

    /* padding: 47px 0 0px 0; */
    padding-top: 94px;
    padding-bottom: 94px;

}

/* ============== END SECTION ============== */

/* ============== FEATURES ============== */

.feature-list .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  text-align: left;
  display: inline-block;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.feature-list-item {
  margin-top: 30px;
  margin-left: 30px;
  /*flex-basis: calc((100% - 120px) / 4);*/
   width: 270px; 
   
}

/* ============== END FEATURES ============== */

/* ============== SERVICES ============== */

.services-list {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}


/* ============== END SERVICES ============== */

/* ============== EMPLOYEES ============== */
.employees {
  background-color: var(--special-background-color);
  text-align: center;
  background: #F5F4FA;
;
}
.background-partners{ background: #fff;

}
.employees-list {
  /* margin: 0; */
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-item {
  background-color: #fff;
  margin: 0;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  /*flex-basis: calc((100% - 120px) / 4);*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-item-description {
 padding-top: 30px;
 padding-bottom: 30px;
 

}


.employees-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto 10px auto;
}

.employees-item p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}


/* ============== END EMPLOYEES ============== */

/* ============== PORTFOLIO PROJECTS ============== */



.filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
}

.filter .button {
  margin-right: 8px;
}
.filter-shadow:hover, .filter-shadow:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects a {
  text-decoration: none;
  color: var(--title-text-color);
}

.projects h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-box-shadow:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.projects-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  /* align-content: space-between; */
}

.projects-item-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 25px;
}

.projects-item-description p,
h2 {
  margin: 0;
}

/* ============== END PORTFOLIO PROJECTS ============== */

/* ============== FOOTER ============== */

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.logo .second-part {
  color: var(--primary-white-color);
}
/* ============== CONTACT INFORMATION ============== */

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address .button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address .button:hover,
.address .button:focus {
  color: var(--accent-color);
}

.address-margin {
  margin-bottom: 9px;
}
/* ============== END CONTACT INFORMATION ============== */

/* ============== END FOOTER ============== */

/*va1*/
.lnk-s{
  width: 44px;
  height: 44px;
   margin-right: 10px;
 /*ФОН*/
  --color1: rgba(255, 255, 255, 0.1);
  /*КОЛІР ЕЛЕМЕНТІ*/
  --color2: #AFB1B8;
}
.lnk-s:hover{
--color1:red;/*  var(--accent-color) */
--color2: #fff;
}
.lnk-s:focus-within{
--color1:red;/*  var(--accent-color) */
--color2: #fff;
}
/**/
/*var2*//*Співробітники компанії кнопки соцмереж*/
.social-block2 {
  display: flex;
  display: block;

  border-radius: 50%;
  
}
.social-block2:focus, .social-block2:hover  {
  --color1: black;
  background-color: #2196F3;
  --color2: #fff;
   width: 44px;
  height: 44px;
}
/***********************************************/

.social-block2 {
  display: flex;
  /*display: block;*/
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
   --color2:  #AFB1B8;
;
}
.social-block2:focus {
  
  background-color: #2196F3;
  --color2: #fff;
}
.social-block2:hover {
  
  background-color: #2196F3;
  --color2: #fff;
}

.social-links2 {
  display: flex;
    margin: auto;
  
  width: 20px;
  height: 20px;
  --color1: none;
}


/*
.social-links2 {
  width: 44px;
  height: 44px;
  --color1: none;
  margin-right: 10px;
  
}***************************************************************************************/
/*
.social-links2:hover {
  --color1: #2196F3;
  --color2: #fff;
}*/
/*.social-links2:focus {
  --color1: #2196F3;
  --color2: #fff;
  border: 44px;
  border-radius: 50%;
  background-color: #2196f3;
 
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
*/




/**var3**/
/*Футер кнопки соцмереж*/
/*
.social-block3 {
    display: flex;
    border-radius: 50%;
    
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}
.social-block3:focus, .social-block3:hover  {
 
  background-color: black;
  --color2: #fff;
}



.social-links3 {
  width: 44px;
  height: 44px;
  --color1: none;
  --color2: #fff;
}
.social-links3:focus {
  --color1:  #2196F3;
  --color2: #fff;
 
}
.social-links3:hover{
  --color1:  #2196F3;
  --color2: #fff;
  
}*/
.social-block3 {
  display: flex;
  /*display: block;*/
background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
border-radius: 50%;

  margin-right: 10px;
   fill: #fff;
}
.social-block3:focus {
  
  background-color: #2196F3;
  --color2: #fff;
}
.social-block3:hover {
  
  background-color: #2196F3;
  --color2: #fff;
}

.social-links3 {
  /**/display: flex;
    margin: auto;
  
  width: 20px;
  height: 20px;
  --color1: none;
}



/**/



/*SVG*/
.link-icon {

width: 44px;
  height: 44px;
 background-color: none;
  margin-right: 10px;
 /*ФОН*/
  --color1: rgba(255, 255, 255, 0.1);
  /*КОЛІР ЕЛЕМЕНТІ*/
  --color2: #AFB1B8;
  
}
.link-icon:hover{
    --color1:red;/*  var(--accent-color) */
  --color2: #fff;
}

.link-icon:focus{
    --color1: black;/*var(--accent-color)*/
  --color2: #fff;
  width: 44px;
  height: 44px;
  /*border-radius: 50%;*/
  outline:none;

}

.link-icon2{
  fill: #757575;
  margin-right: 10px;
}
.link-icon2:hover, 
.link-icon2:focus{
fill: #2196F3;

}





  .link-icon-button{
  background-color: none;

  margin-right: 10px;
  width: 44px;
  height: 44px;
  --color1: rgba(255, 255, 255, 0.1);
  --color2: #fff;}

  .link-icon-button:hover, .link-icon-button:focus {
    --color1: var(--accent-color);
  --color2: #fff;}

.client-icon{
 
 /* width:106px ;
  height:60px ;*/
 /*padding:92px 170px ;*/

  border: 1px solid #AFB1B8;
box-sizing: border-box;}



.invisible-icon{
  background: #F5F4FA;
border-radius: 4px;
justify-content: center;}

.invisible-icon2{
   background: #F5F4FA;
   width: 270px;
height: 120px;
background: #F5F4FA;
border-radius: 4px;
display: flex;
   align-items: center;
  justify-content: space-between;
justify-content: center;


}
.client{
   list-style: none;
  
display: flex;
justify-content: center;
/*padding-left: 16px;
padding-right: 16px;
padding-top: 32px;
padding-bottom: 32px;
border: 1px solid #2196F3;
box-sizing: border-box;
border-radius: 4px;*/
padding-top: 0px;

}


.client :not(:last-child){margin-right: 30px;}

/*.client :hover{
  fill: #2196F3;
  
}*/
.client-logo{
list-style: none;
  width: 170px;
height: 92px;

border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: space-between;
justify-content: center;
cursor: pointer;
}

.client-logo:focus, .client-logo:hover {
 fill: #2196F3;
 border: 1px solid;
 border-color:  #2196F3;
}  




.client-logo  .client-icon:hover{
 fill: #2196F3;
 
}

.client-logo  .client-icon:focus{
 fill: #2196F3;
 
}/**/


.client-icon:hover, .client-logo:hover{
 fill: #2196F3;
 
}

/*.social-block2:focus, .social-block2:hover  {
  --color1: black;
  background-color: #2196F3;
  --color2: #fff;
}*/


.client-logo:focus,  .client-icon:focus{
 fill: #2196F3;
 
}
.client-logo:hover  .client-icon{
 fill: #2196F3;
 
}

.client-logo:focus  .client-icon{
 fill: #2196F3;
 
}


.client-icon:focus, .client-icon:hover {
 fill: #2196F3;
 border: 1px solid;
 border-color:  #2196F3;}




.client-logo:hover   {
 
 
  
}



.client-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
 




max-width: 106px;
max-height: 60px;
min-height:60px; ;
min-width: 106px;

}
.client-icon:focus {
  border: 1px solid;
 border-color:   #2196F3;}



.client-icon :not(:last-child ){margin-right: 30px;}

.social-button {
  font-style: normal;
  
  /*font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;*/
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
  
}

.social-h{
  font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align:start;
margin-bottom: 36px;

color: #FFFFFF;
}

.social-color{
  fill: red;
}

.social-centr{
display: flex;
justify-content: center;
margin-top: 16px;
}

.client-icon{
  border: 0;
}
  /*SVG  END*/

  .client-logo:focus, .client-logo:hover,{
background-color: #2196F3;
border: dashed red;
}



/*********************/
